.idea/
.vscode/

/frontEnd/package-lock.json
/frontEnd/build
/frontEnd/node_modules
/frontEnd/.env
/frontEnd/src/Config



/clientFrontend/package-lock.json
/clientFrontend/build
/clientFrontend/node_modules
/clientFrontend/.env


/API/package-lock.json
/API/node_modules
/API/.env
/API/config
